@tailwind base;
@tailwind components;
@tailwind utilities;

.universal {
  padding: 0 2em 0 2em;
  font-family: "Sofia Sans", sans-serif;
}
li:hover {
  color: #ffbf00;
}
.fsect {
  writing-mode: vertical-rl;
}
button {
  height: 72px;
  width: 185px;
  font-family: inherit;
}
.add:hover {
  background: #ffff;
  color: #121212;
  border: 1px solid black;
  transition: 0.5s ease-in;
}
.rem:hover {
  background: #121212;
  color: #ffff;
  border: 1px solid black;
  transition: 0.5s ease-in;
}
@media screen and (max-width: 767px) {
  .universal {
    padding: 0 1em;
  }
  .nav-con {
    margin: 0 0 1em 0;
    padding: 1em 1em;
    position: fixed;
    width: 100%;
    left: 0;
    background: #f1f3f5;
    z-index: 3;
  }
  .menu {
    gap: 1em;
    flex-direction: row-reverse;
  }
  .logo {
    font-size: 1.5em;
  }
  .hamburger {
    display: block;
  }
  /* -------------------------------- main -------------------------------- */
  .body-con {
    flex-direction: column;
  }
  .body-con .lists {
    position: absolute;
    background: #f1f3f5;
    padding: 1em;
    height: 100%;
    width: 50%;
    top: 3em;
    left: 0;
    margin-bottom: 0;
    z-index: 2;
    /* display: none; */
  }
  .nav-li:hover{
    background: #000;
    font-size: 4em;
  }
  .extral {
    display: none;
  }
  .main-con {
    flex-direction: column-reverse;
    padding-top: 4em;
  }
  .art-1 {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .art-1 > h2 {
    font-size: 50px;
  }
  .art-1 button {
    height: 5;
    width: 100%;
    padding: 10px 30px;
    font-size: 15px;
  }
  .art-1 button > a{
    justify-content: baseline;
  }
  .img-con{
    height: 10%;
    padding: 0;
    background: #ffff;
  }
  .img1{
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .img2{
    height: 120px;
    top: -17.5em;
    left: 9em;
    z-index: 0;
  }
  .fsect{
    writing-mode: initial;
  }
}